/* Navbar */
.navbar-brand {
    font: 32px Viga;
}


/* Jumbotron */
.jumbotron {
    background: url(../img/Team_Product.jpg);
    background-size: cover;
    height: 540px;
    position: relative;
    z-index: -1;
}

.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    bottom: 0;
}

.jumbotron .container {
    color: white;
    text-align: left;
    position: relative;
    z-index: 1;
}

.jumbotron .display-4 {
    font-weight: 200;
    font-size: 2em;
    margin-top: 150px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.jumbotron .display-4 span {
    font-weight: 450;
}


/* Workingspace */
.workingspace {
    margin-top: 90px;
    text-align: center;
}

.workingspace img {
    margin-bottom: 20px;
    border-radius: 3%;
    height: 250px;
}

.workingspace h2 {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 200;
}

.workingspace h2 span {
    font-weight: 500;
}

.workingspace li {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
    margin-bottom: 10px;
}


/* Testimonial */
.testimonial {
    margin-top: 150px;
    background-color: #FFFdd0;
}

.testimonial h1 {
    color: skyblue;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2em;
}
.testimonial-con p {
    font-size: 1.4em;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 30px;
}

.testimonial-pics img {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    filter: grayscale(1);
}

.testimonial-pics .active {
    width: 100px;
    height: 100px;
    margin-top: -5px;
    filter: grayscale(0);
}

.testimonial-pics img:hover, .testimonial-pics .active::after {
    width: 100px;
    height: 100px;
    margin-top: -5px;
    filter: none;
}

.testimonial .info-text h5 {
    font-size: 16px;
    font-weight: bold;
}

.testimonial .info-text p {
    font-size: 12px;
    margin-top: -5px;
    color: #acacac;
    font-style: normal;
}



/* Utility */
.tombol {
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    background-color: #f9b91e;
}


/* footer */
footer {
    background-color:#1e1e1ef7;
    font-size: 15px;
    text-align: center;
    padding: 15px 0;
}

footer p {
    font-size: 15px;
    margin-top: 10px;
    color: white;
}


/* Contact */
.contact {
    height: 50px;
    position: relative;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 25px 45px;
}

.contact .wrapper {
    width: 100%
}

.contact .wrapper .wrapper-contact {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact .wrapper .wrapper-contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display:inline-flex;
    justify-content: right;
}

.contact .wrapper .wrapper-contact ul li a{
    justify-content: right;
    padding: 1.8rem;
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: 0 1.5px 0px #848484;
    text-align: center;
    color: white;
    cursor: pointer;
}

.contact .wrapper .wrapper-contact ul li a:hover{
    text-shadow: 2px 2px 1px #1f1f1f;
}


/* Buat laptop */
/* RESPONSIVE */
@media (min-width: 992px) {
    .navbar {
        padding-top: 20px;
    }
    
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 20px;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        content: '';
        display: block;
        border-bottom: 3px solid #f9b91e;
        margin: auto;
        margin-bottom: -8px;
        width: 50%;
        padding-top: 5px;
    }

    .jumbotron {
        margin-top: -90px;
        height: 830px;
    }

    .jumbotron .display-4 {
        font-size: 3.5em;
        margin-top: 260px;
    }


    .workingspace {
        text-align: left;
    }

    .workingspace img {
        height: 350px;
    }

    .testimonial p {
        font-size: 2em;
    }

    footer {
        font-size: 20px;
        margin-top: 60px;
    }

}