/* Navbar */
.navbar-brand {
    font: 32px Viga;
}


/* Jumbotron */
.jumbotron {
    background: url(../img/Team_Operations.jpg);
    background-color:#fffef2;
    background-blend-mode: multiply ;
    background-size: cover;
    height: 540px;
    position: relative;
    z-index: -1;
}

.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    bottom: 0;
}

.jumbotron .container {
    color: white;
    text-align: left;
    position: relative;
    z-index: 1;
}

.jumbotron .display-4 {
    font-weight: 200;
    font-size: 2.5em;
    margin-top: 200px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    margin-bottom: 50px;
}

.jumbotron .display-4 span {
    font-weight: 450;
}

.container h3 {
    font: 40px Viga;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 60px;
    margin-bottom: 75px;
    font-weight: 500;
    text-align: center;
    color: #001540;

}
/* Program */
.program img {
    margin-bottom: 20px;
    border-radius: 3%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.program h2 {
    font: 30px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

.program p {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
    text-align: center;
    margin-bottom: 20px;
}


/* Testimonial */
.testimonial {
    margin-top: 150px;
}

.testimonial h1 {
    color: skyblue;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font: 32px Viga;
}

.testimonial-con p {
    font-size: 1.4em;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 30px;
}

.testimonial-pics img {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    filter: grayscale(1);
}

.testimonial-pics .active {
    width: 100px;
    height: 100px;
    margin-top: -5px;
    filter: grayscale(0);
}

.testimonial-pics img:hover, .testimonial-pics .active::after {
    width: 100px;
    height: 100px;
    margin-top: -5px;
    filter: none;
}

.testimonial .info-text h5 {
    font-size: 16px;
    font-weight: bold;
}

.testimonial .info-text p {
    font-size: 12px;
    margin-top: -5px;
    color: #acacac;
    font-style: normal;
}


/* Utility */
.tombol {
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    background-color: #f9b91e;
}


/* Contact Form */
/* Style inputs */  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #E0BBE4;
    border-radius: 25px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: skyblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #f9b91e;
}

/* Style the container/contact section */
.contact {
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
}

.contact .textinfo {
    font: 32px Viga;
    color: skyblue;
    text-transform: uppercase;
}

.column {
    background-color: #E0BBE4;
    border-radius: 20px;
    font: 20px Viga;
    width: 100%;
    margin-top: 6px;
    padding: 20px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* footer */
footer {
    background-color:#1e1e1ef7;
    font-size: 15px;
    text-align: center;
    padding: 15px 0;
}

footer p {
    font-size: 15px;
    margin-top: 10px;
    color: white;
}

  
/* Untuk layar lebih kecil dari 600px, form nya menumpuk */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .program p {
        margin-bottom: 75px;
    }
}

/* Buat laptop */
/* RESPONSIVE */
@media (min-width: 992px) {
    .navbar {
        padding-top: 20px;
    }
    
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 20px;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        content: '';
        display: block;
        border-bottom: 3px solid #f9b91e;
        margin: auto;
        margin-bottom: -8px;
        width: 50%;
        padding-top: 5px;
    }

    .jumbotron {
        margin-top: -90px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 3.5em;
        margin-top: 220px;
    }


    .workingspace {
        text-align: left;
    }

    .workingspace img {
        height: 350px;
    }

    .workingspace .col-lg-5{
        margin-left: 20px;
    }

    .testimonial p {
        font-size: 2em;
    }

    footer {
        font-size: 20px;
        margin-top: 60px;
    }

}